.App {
  text-align: center;
}

.topbar-container {
  position: relative;
}

.topbar {
  display: flex;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
}
